* {
    font-family: Roboto;
}

th, td {
    padding: 10px;
}

h1, h2 {
    font-family: Roboto;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-weight: 300;
}

h3, h4, h5 {
    margin: 0;
    margin-bottom: 5px;
}

body {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card {
    text-align: left;
    /*display: inline-flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1rem;
    margin: 0.5rem 1rem;
    width: 40rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact {
    display: flex;
    /*float: right;*/
    flex-direction: column;
    justify-content: flex-start;
}

.bottom-header{
    display: flex;
    flex-direction: column;
}

.right-header .material-icons {
    color: #4C4C4C;
    transition: 0.6s;
}

.right-header .link {
    text-decoration: none;
    color: #4C4C4C;
}

.phone, .mail, .git, .files {
    width: 25px;
    overflow: hidden;
    transition: 0.5s;
    white-space: nowrap;
    margin-left: auto;
}


.mail:hover, .phone:hover , .git:hover{
    width: 100%;
}

.mail:hover .material-icons, .phone:hover .material-icons, .files:hover .material-icons , .git:hover .material-icons{
    color: #29B6F6;
}


.me, .edu, .exp, .skill {
    display: flex;
    justify-items: flex-start;
}

.material-icons {
    position: relative;
    top: 5px;
    /*transition: 0.5s;*/
    /*left: -5px;*/
}