<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47953793-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-47953793-2');
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Icons from FontAwesome: -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
        integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Afik Bar</title>
    {% import 'macros.html' as macros %}
</head>

<body>
    <div class="flex-container-col">
        <div class="card header">
            <h1 style="padding: 0rem">
                Afik Bar
                <br>
                <span style="font-size: large; color: #00ab44; padding: 0rem">
                    Engineering data, with Science
                </span>
            </h1>
            <div class="right-header">
                <div class="contact">
                    <div class="mail">
                        <i class="material-icons">email</i>
                        <a href="mailto:jobs@afikbar.com" class="link">jobs@afikbar.com</a>
                    </div>
                    <div class="phone">
                        <i class="material-icons">call</i>
                        <a href="tel:+972-52-2000126" class="link">+972-52-2000126</a>
                    </div>
                </div>
                <div class="bottom-header">
                    <div class="git">
                        <i class="material-icons fab fa-github"></i>
                        <a href="https://github.com/afikbar" target="_blank" class="link">GitHub</a>
                    </div>
                    <div class="files">
                        <a href="{{ url_for('static', filename='files/Afik CV.pdf') }}" target="_blank"
                            class="material-icons far fa-file-pdf"></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="cv-body">
            {% call macros.card(name='me', title='ME', title_icon='android') %}
                <span>{{ cards.me }}</span>
            {% endcall %}
            {% call macros.card(name='exp', title='EXPERIENCE', title_icon='card_travel') %}
                {% for job in cards.experince %}
                    {{ macros.job(**job) }}
                {% endfor %}
            {% endcall %}
            {% call macros.card(name='edu', title='EDUCATION', title_icon='school') %}
                {% for school in cards.education %}
                        {{ macros.school(**school) }}
                {% endfor %}
            {% endcall %}
            {% call macros.card(name='skill', title='SKILLS', title_icon='explore') %}
                <table style="width: 100%">
                    {% for skill in cards.skills %}
                        {{ macros.skill(skill) }}
                    {% endfor %}
                </table>
            {% endcall %}
        </div>
    </div>

</body>

</html>