{% macro card(name, title='', title_icon='') -%}
    <div class="card {{ name }}">
        {% if title != '' %}
            <h3 style="font-weight: bold;">
                {% if title_icon != '' %}
                    <i class="material-icons" style="color: #00ab44">{{ title_icon }}</i>
                {% endif %}
                {{ title }}
            </h3>
        {% endif %}
        <div class="indent-text">
            {{ caller() }}
        </div>
    </div>
{%- endmacro %}

{% macro school(school, program, date, description='') -%}
    <h4>
        <b>{{ school }}</b>
        <span style="color: #4C4C4C"> | {{ program }}</span>
        <span style="float: right; color:#4C4C4C; font-size: 0.8rem">{{ date }}</span>
    </h4>
    {% if title_icon != '' %}
    <div class="indent-text flex-container-col">
        <span style="font-size: 0.95rem;">
            {{ description|safe }}
        </span>
    </div>
    {% endif %}
{%- endmacro %}

{% macro job(company, title, date, description='') -%}
    <h4>
        <b>{{ company }}</b>
        <span style="color: #4C4C4C"> | {{ title }}</span>
        <span style="float: right; color:#4C4C4C; font-size: 0.8rem">{{ date }}</span>
    </h4>
    {% if title_icon != '' %}
    <div class="indent-text flex-container-col">
        <span style="font-size: 0.95rem;">
            {{ description|safe }}
        </span>
    </div>
    {% endif %}
{%- endmacro %}

{% macro skill(row) -%}
    <tr >
        {% for skill in row %}
            <td colspan={{ 100/(row|length) }}%>
                <span style="font-size: 0.95rem;"><i class="material-icons" style="color: #00ab44;">bubble_chart</i>
                    {{ skill }}
                </span>
            </td>
        {% endfor %}
    </tr>
{%- endmacro %}