* {
    font-family: Roboto;
}

th, td {
    padding: 10px;
}

h1, h2 {
    font-family: Roboto;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-weight: 300;
}

h3, h4, h5 {
    margin: 0;
    margin-bottom: 5px;
}

body {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: stretch;
    align-content: space-between;
}

.card {
    text-align: left;
    /*display: inline-flex;*/
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: left;*/
    padding: 1rem;
    margin: 0.5rem 1rem;
    width: 40rem;
    /*min-width: 100%;*/
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 60rem){
    .card {
        width: 25rem;
        font-size: 20px;
        /*max-width: 60%;*/
        /*color: red;*/
    }

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    /*float: right;*/
    flex-direction: column;
    justify-content: flex-start;
}

.bottom-header {
    display: flex;
    flex-direction: column;
}

.right-header .material-icons {
    color: #4C4C4C;
    transition: 0.6s;
}

.right-header .link {
    text-decoration: none;
    color: #4C4C4C;
}

.phone, .mail, .git, .files {
    width: 25px;
    height: 30px;
    /*overflow-y: visible;*/
    overflow-x: hidden;
    text-align: center;
    transition: 0.5s;
    white-space: nowrap;
    margin-left: auto;
}

.mail:hover, .phone:hover, .git:hover {
    width: 100%;
}

.mail:hover .material-icons, .phone:hover .material-icons, .files:hover .material-icons, .git:hover .material-icons {
    color: #00ab44;
}

.cv-body{
    display: flex;
    flex-direction: column;
}

.cv-body h4 {
    margin-bottom: 0px;
    margin-top: 5px;
}
.indent-text {
    padding-left: +15px;
}
.me, .edu, .exp, .skill {
    display: flex;
    justify-items: flex-start;
}

.material-icons {
    position: relative;
    /*padding-top: 5px;*/
    top: 5px;

    /*transition: 0.5s;*/
    /*left: -5px;*/
}


